body {
    margin: 0%;
    padding: 0%;
}

.container {
    margin-top: 40px;
    margin-bottom:40px;
}

.Txt_box {
    border: 2.4px solid magenta;
   
}

/*.lbtn{
    width:545px;
    margin-bottom:30px;
    margin-top:20px;
    background-color:red;

}   */
.lbtn{
    margin-top:10px;
    width:270px;

}
.row1{
    margin-bottom:20px;
}

.l_btn {
    display:flex;
    justify-content:space-around;
}

